/* Default style start */

:root {
  --purple: #6c63ff;
  --white: #f7f7f7;
  --black: #252525;
  --task-hover-effect: #817afd;
  --modal-window-bgc: rgba(37, 37, 37, 0.5);
  --placeholder-text: #c3c1e5;

  --toolbar-radius: 5px;
}

@font-face {
  font-family: "Kanit";
  src: local("Kanit-Regular"),
    url("../fonts/Kanit-Regular.woff2") format("woff2"),
    url("../fonts/Kanit-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kanit";
  src: local("Kanit-Medium"), url("../fonts/Kanit-Medium.woff2") format("woff2"),
    url("../fonts/Kanit-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: local("Inter-Medium"), url("../fonts/Inter-Medium.woff2") format("woff2"),
    url("../fonts/Inter-Medium.woff") format("woff");
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;

  /* cursor: url("../img/custom-pointer.png") 4 12, auto; */
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  min-width: 320px;

  background-color: var(--white);

  font-family: "Kanit", sans-serif;
  font-weight: 500;
}

img {
  width: 100%;
}

h1,
h2,
h3 {
  margin: 0;
}

p {
  margin: 0;
}

input {
  border: none;
  outline: none;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;

  width: 28px;
  height: 28px;

  border: 1px solid var(--purple);
  border-radius: 2px;

  cursor: pointer;

  transition: background-color 0.2s ease-in-out;
}
input[type="checkbox"]:checked {
  background-color: var(--purple);
  background-image: url(../img/checked.svg);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center;
}
input[type="checkbox"]:disabled {
  background-color: var(--black);
}

svg {
  pointer-events: none;
}

/* Default style end */

/* Global style start */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: none;
  clip: rect(0 0 0 0);
}

.container {
  position: relative;

  max-width: 780px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn--reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn {
  background-color: var(--purple);
}

.list--reset {
  padding: 0;
  list-style: none;
}

.none {
  display: none !important;
}

/* Section toolbar start */
.toolbar__search::placeholder {
  color: var(--placeholder-text);
}
.toolbar__search:hover {
  background-color: var(--task-hover-effect);
}
.toolbar__search:hover::placeholder {
  transition: color 0.3s ease-in-out;
  color: var(--white);
}
.toolbar__search:focus {
  outline: 1px solid var(--purple);
  outline-offset: 2px;
}
.toolbar__theme-btn:hover {
  background-color: var(--task-hover-effect);
}
.toolbar__theme-btn:active {
  outline: 2px solid var(--task-hover-effect);
  outline-offset: 2px;
}
/* Sectoin toolbar end */

/* Section tasks start */

.task__item {
  display: flex;
  align-items: center;

  padding: 10px;
  border-radius: var(--toolbar-radius);

  transition: background-color 0.3s ease-in-out;
}
.task__item:hover {
  background-color: var(--task-hover-effect);
}
.task__item:hover .task__title {
  transition: color 0.3s ease-in-out;
  color: var(--white);
}
.task__item:hover .task__checkbox[type="checkbox"] {
  transition: border 0.3s ease-in-out, background-color 0.3s ease-in-out;
  border: 1px solid var(--white);
}
.task__item:hover .pencil__icon path {
  transition: stroke 0.3s ease-in-out;
  stroke: var(--white);
}
.task__item:hover .trash__icon path {
  transition: stroke 0.3s ease-in-out;
  stroke: var(--white);
}

.task__left-content {
  display: flex;
  align-items: center;

  gap: 17px;
  margin-right: auto;
}

.task__title {
  text-transform: uppercase;

  font-size: 20px;
  line-height: 100%;
  font-weight: 400;
}

.task__right-content {
  display: flex;
  align-items: center;

  gap: 10px;
}

.task__btn {
  width: 18px;
  height: 18px;
}

.pencil__icon path {
  stroke: var(--black);
}
.pencil:hover .pencil__icon path {
  stroke: #000000;
}

.trash__icon path {
  stroke: var(--black);
}
.trash:hover .trash__icon path {
  stroke: #ff6e6e;
}

.task__modal-window.active {
  transform: translateY(0%) scale(1);
  background-color: var(--modal-window-bgc);
}

.task__modal-window-input::placeholder {
  color: var(--placeholder-text);
}
.task__modal-window-input:focus {
  outline: 2px solid var(--purple);
  outline-offset: 2px;
}
/* Section tasks end */
